* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    height: 100vh;
    background-color: black;
    color: #F6F6F6;
    box-sizing: border-box;  /* Nada ira sair do body(tela)*/
}

.destaque-titulo {
    color: #22D4FD;
}