@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: black;
    color: #F6F6F6;
    box-sizing: border-box;  /* Nada ira sair do body(tela)*/
}

.destaque-titulo {
    color: #22D4FD;
}

.apresentacao {
    margin: 10% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo2 {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo2_paragrafo {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

.apresentacao__conteudo2__titulo {
    font-size: 36px;
    font-family: "Krona One", sans-serif;
}

.teste {
    width: 574px;
    display: flex;
    flex-direction: column;
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: "Krona One", sans-serif;
}

.apresentacao__conteudo__paragrafo {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

.apresentacao__conteudo__subtitulo {
    text-align: center;
}

.apresentacao__conteudo__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.botao_link {
    background-color: #22D4FD;
    color: black;
    width: 280px;
    text-align: center;
    padding: 21.5px 0;
    border-radius: 16px;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}